.git
.github
.pytest_cache
.ruff_cache
.mypy_cache
.cache
.venv
__pycache__
*.pyc
*.pyo

.env
.env.*
!.env.example

data
logs
*.db
*.db-*
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.log


htmlcov
.coverage
.coverage.*
